@{
    ViewBag.Title = "Home Page - Backend1";
}
<a asp-controller="CalcService" asp-action="PassUsingModel">Using Model Calc</a>
<a asp-controller="CalcService" asp-action="PassUsingViewData">Using ViewData Calc</a>
<a asp-controller="CalcService" asp-action="PassUsingViewBag">Using ViewBag Calc</a>
<a asp-controller="CalcService" asp-action="AccessServiceDirectly">Using Service Injection Calc</a>